extends ../layout

block content
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      h3 Create New Test
      .row
        .col-xs-12 
          .form-group
            label(for='test-name') Test Name
            textarea#test-name.form-control( placeholder='Enter Test Name')

  .row
    .col-xs-12.col-md-8.col-md-offset-2.generated-questions



  .form-group#gen-test 
    button.btn.btn-success#save-test-btn(type='submit') save
      span.glyphicon.glyphicon-ok
    button.btn.btn-primary#gen-test-btn(type='submit') add new question
      span.glyphicon.glyphicon-plus
