extends layout

block content
  .container
    .row
      .col-xs-12.col-md-4.col-md-offset-4
        .row
          .login-form
            h3 Welcome to Quizz app
            .form-group
              label(for="username") User Name
              input(type="text", class="form-control", id="username", placeholder="Enter user name")
            .form-group
              label(for="username") Password
              input(type="password", class="form-control", id="password", placeholder="Enter password")
            .form-group
              button#login-btn(type="submit", class="btn btn-danger btn-block") Log in
            .form-group
              a(href="/register" class="btn btn-primary btn-block") Registration

