body, html {
  height: 100%;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #ecf0f1;
}
.main-wrapper {
	height: 100%;
}

.main-wrapper h1 {
	margin:0;
}


.login-form {
	margin-top: 35%;
	text-align: center;
}

@media screen and (max-width: 990px) {
	.login-form {
		margin-top: 10%;
	}
}

.registration-form {
	text-align: center;
	padding: 5px;
}


.alert {
	text-align: center;
}










/*   admin panel */

.quizz-list {
	/*background: #F6FAFA;*/
	height: 340px;
	border-radius: 5px;
}

.admin-toolbar a,
.glyphicon {
	margin: 0 4px;
}


#gen-test {
	position: fixed;
	right: 1%;
	bottom: 1%;
}

#gen-test button {
	margin-left: 3px;
}










/* end of admin panel */





