body, html {
  height: 100%;
}
body {
	margin: 0;
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	font-size: 17px;
	background-color: #F4F4F4;
}
.main-wrapper {
	height: 100%;
}

.main-wrapper h1 {
	margin:0;
}

a {
	color: #FFF;
}

a:hover {
	color: #FFF;
	text-decoration: none;
}


.login-form {
	margin-top: 35%;
	text-align: center;
}

@media screen and (max-width: 990px) {
	.login-form {
		margin-top: 10%;
	}
}

.registration-form {
	text-align: center;
	padding: 5px;
}


.alert {
	text-align: center;
}










/*   admin panel */

.quizz-list-wrapper {
	/*background: #F6FAFA;*/
	height: 340px;
	border-radius: 5px;
}

.admin-toolbar a,
.glyphicon {
	margin: 0 4px;
}


#gen-test {
	position: fixed;
	right: 1%;
	bottom: 1%;
}

#gen-test button {
	margin-left: 3px;
}

.quizz-list {
	padding: 10px 0;
	border-bottom: 1px solid #e3e3e3;
}

.quizz-list strong {
	cursor: pointer;
}

.quizz-list span {
	margin-left: 3px;
}









/* end of admin panel */





/* tests page*/
h1.test-title {
	text-align: center;
	padding: 10px;
}

.show-question-wrapper {
	padding: 10px;
}

.submit-test-btn{
	margin: 10px;
}
/* end of tests page*/
